# Libsodium manifest file

################################## GRAPHENE ###################################

loader.preload = "file:{{ graphene.libos }}"
loader.log_level = "{{ log_level }}"

# Binary to run
libos.entrypoint = "/usr/baseline/GrapheneBench"


################################## ARGUMENTS ###################################
loader.insecure__use_cmdline_argv = true

################################# ENV VARS ####################################

#Specify paths to search for libraries in the graphene virtualized file system
#Different libs are seperated by ':'
loader.env.LD_LIBRARY_PATH = "/lib:{{ arch_libdir }}:/usr/{{ arch_libdir }}"

################################# SIGNALS ####################################
sys.enable_sigterm_injection = true
################################# MOUNT FS  ###################################

#fs.mount.lib.type = "chroot"
#fs.mount.lib.path = "/lib"
#fs.mount.lib.uri = "file:{{ graphene.runtimedir() }}"

fs.mount.lib2.type = "chroot"
fs.mount.lib2.path = "{{ arch_libdir }}"
fs.mount.lib2.uri = "file:{{ arch_libdir }}"

fs.mount.lib3.type = "chroot"
fs.mount.lib3.path = "/usr/{{ arch_libdir }}"
fs.mount.lib3.uri = "file:/usr/{{ arch_libdir }}"

fs.mount.baseline.type = "chroot"
fs.mount.baseline.path = "/usr/baseline"
fs.mount.baseline.uri = "file:{{ baseline_dir }}"

fs.mount.baseline_tests.type = "chroot"
fs.mount.baseline_tests.path = "/usr/baseline/tests"
fs.mount.baseline_tests.uri = "file:{{ baseline_dir }}/tests"

fs.mount.libsodium.type = "chroot"
fs.mount.libsodium.path = "/usr/baseline/libsodium"
fs.mount.libsodium.uri = "file:{{ libsodium_dir }}"

############################### SGX: GENERAL ##################################

sgx.enclave_size = "256M"
sgx.debug = true
sgx.nonpie_binary = true 
sgx.thread_num = 16

############################# SGX: TRUSTED FILES ###############################

sgx.trusted_files.runtime = "file:{{ graphene.runtimedir() }}/"
sgx.trusted_files.arch_libdir = "file:{{ arch_libdir }}/"
sgx.trusted_files.usr_arch_libdir = "file:/usr/{{ arch_libdir }}/"

sgx.trusted_files.GrapheneBench =  "file:{{ baseline_dir }}/GrapheneBench"
sgx.trusted_files.tests = "file:{{ baseline_dir }}/tests"
sgx.trusted_files.baseline = "file:{{ baseline_dir }}"

sgx.trusted_files.libsodium = "file:{{ libsodium_dir }}"



############################# SGX: ALLOWED FILES ###############################

sgx.allowed_files.GrapheneData = "file:GrapheneData.txt"
